html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-family: 'Roboto', sans-serif;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
h1, a{
  color: white;
}
.main-nav .logo-container h1 a {
  font-family: 'Lobster', cursive;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding-top: 30px;
}
.nav-container nav ul {
  display: flex;
}
.nav-container nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}
header {
width: 100%;
background: linear-gradient(rgba(26,48,59, 0.80), rgba(26,48,59, 0.80)), url(worry.png);
height: 500px;
background-position: center-top;
background-size: cover;
}
.my-mobile-menu {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all .9s;
  transform: translateX(-850px);
  display: none;
}
.my-mobile-menu .exit-btn {
  margin: 30px;
}

.my-mobile-menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.my-mobile-menu nav ul li {
  margin: 10px;
}
.toggle-bar {
  display: none;
}
span {
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
}
.heading-container {
  text-align: center;
  margin-top: 100px;
  position: relative;
  font-size: 40px;
}
.left-arrow-icon {
  position: absolute;
  top: 70px;
  color: white;
  left: 20px;
}
.right-arrow-icon {
  position: absolute;
  left: 1200px;
  color: white;
  bottom: 50px;
}
.last {
  border-radius: 5px;
  padding: 10px;
  background-color: #ffd42d;
}
.nav-container nav ul .last {
  color: black;
}
.btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
}
.row p{
  font-size: 17px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1024px;
  margin: auto;
}
h2 {
  font-size: 25px;
  color: white;
}
.row {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}
.small-content h3 {
  font-size: 25px;
}
.small-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 20px 0px;
}
.banner-container {
  background: linear-gradient(#ffd42d, rgba(255, 212, 45, 0.35)), url(chick.png);
  background-size: cover;
  background-position: center;
}
.first-row {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.for-bg {
  height: 220px;
  background-color: #1c333b;
  position: absolute;
  width: 200px;
}
.text-1 {
  position: absolute;
  top: 40px;
}
.text-2 {
  position: absolute;
  top: 20px;
}
.text-1 h1 {
  color: white;
  text-align: center;
  font-size: 20px;
}
.text-1 p {
  color: white;
  text-align: center;
}
.button-1 {
  text-align: center;
  margin-top: 60px;
}
 .button {
   margin-top: 60px;
 }
.button a {
  border-radius: 5px;
}
.button-1 a {
  border: 2px solid #547487;
  padding: 10px;
  border-radius: 5px;

}
.fast-one {
  color: #547487;
}
.text-2 h1 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.text-2 p {
  color: white;
  text-align: center;
}
.card-1 {
  background: url("bully.png");
  background-position: center;
  width: 47%;
  height: 220px;
  position: relative;
}
.card-2 {
  background: url("enough.png");
  width: 47%;
  background-position: center;
  height: 220px;
  position: relative;
}
.second-row {
  background-color: #ffd42d;
  height: 450px;
}
.content-container {
  display: flex;
  justify-content: space-between;
}
.events-container .events h1 {
  color: #547487;
  font-size: 25px;
}
.events {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.times-1 {
  height: 90px;
  margin: 5px 5px 2px 5px;
  background-color: #1c333b;
  color: white;
  display: flex;
  justify-content: space-between;
}
.icon-words {
  display: flex;
}
.inline-text {
  margin-top: 20px;
}
.inline-text p {
  color: silver;
}
.times-2 {
  height: 90px;
  margin: 5px 5px 2px 5px;
  display: flex;
  border-bottom: 1px solid #1c333b;

}
.times-3 {
  height: 90px;
  margin: 5px 5px 2px 5px;
  display: flex;

}
.import {
  font-size: 20px;
}
.important {
  font-size: 20px;
  color: #1c333b !important;
}
.race-info-container {
  height: 330px;
  margin-top: 60px;
}
.race-info {
  margin-top: 20px;
  margin-left: 20px;
}
.race-heading p {
  color: white;
}
.race-heading h1 {
  font-size: 24px;
  color: #1c333b;
}
.race-content p {
  color: #1c333b;
}
.race-btn {
  margin-top: 50px;
}
.race-btn a {
  border: 2px solid #1c333b;
  padding: 10px;
  color: #1c333b;
  border-radius: 5px;
}
.events-container {
  margin-top: 60px;
  background-color: white;
  height: 330px;
  width: 47%;
}
.race-info-container {
  width: 47%;
}
.third-row {
  height: 450px;
}
.article-and-input {
  display: flex;
  justify-content: space-between;
}
.article-container h1 {
  font-size: 27px;
  color: #1c333b;
}
.article-container p {
  font-size: 9px;
  color: silver;
  margin-bottom: 10px;
}
.article-container {
  width: 47%;
  margin-top: 70px;
  height: 300px;
}
.img-text-container img {
  width: 50%;
}
.text {
  width: 50%;
}
.text p {
  color: #1c333b;
  font-size: 15px;
  padding: 0px 5px 10px 20px;
}
.text-btn {
  margin-left: 20px;
  margin-top: 57px;
}
.text-btn a {
  border: 2px solid #1c333b;
  padding: 10px;
  color: #1c333b;
  border-radius: 5px;
}
.img-text-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.input {
  background: linear-gradient(grey, rgba(191, 191, 191, .45)), url(continents.png);
  background-position: center;
  height: 120px;
  margin-top: 40px;
}
.input-type h1 {
  padding: 5px;
  margin-left: 35px;
}
.input-type input {
  padding: 10px;
  padding-right: 90px;
  margin-left: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}
.input-type button {
  padding: 10px;
  padding-right: 18px;
  border-radius: 5px;
  background-color: #1c333b;
  color: white;
  border: none;
}
.input-containers {
  width: 47%;
  margin-top: 95px;
  height: 300px;
}
.input-type h1 {
  font-size: 20px;
  color: #1c333b;
  padding-top: 20px;
}
.button a {
  color: #1c333b;
  background-color: #ffd42d;
  border: none;
  padding: 20px 196px;
}
.last-row {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.76), #1c333b), url(girl.png);
  background-position: center;
  background-size: cover;
}
.final {
  display: flex;
  justify-content: space-between;
}
.left-content-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.right-content-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.right-content-container .top-right {
  margin-top: 80px;
}
.left-1 {
  width: 33.33%;
}
.left-2 {
  width: 33.33%;
}
.left-3 {
  width: 33.33%;
}
.para p {
  color: white;
  margin-top: 20px;
}
.media {
  display: flex;
  align-items: center;
}
.bottom-right h1 {
  font-family: 'Lobster', cursive;
  margin-top: 30px;
}
.bottom-right footer {
  color: white;
}
.left-content-container .left-1 ul {
  padding-top: 10px;
}
.left-content-container .left-1 ul li{
  padding: 5px 0px 5px 0px;
  color: white;
}
.left-content-container .left-2 ul {
  padding-top: 10px;
}
.left-content-container .left-2 ul li{
  padding: 5px 0px 5px 0px;
  color: white;
}
.four-lines {
  position: absolute;
  top: 450px;
  left: 580px;
  display: flex;
}
.flat, .flat-dark {
  background-color: #547487;
  height: 3px;
  width: 30px;
  border-radius: 100px;
  margin-right: 3px;
}
.flat-dark {
  background-color: #ADD8E6;
}

.lines {
  position: absolute;
  top: 10px;
  left: 360px;
  display: flex;
}
.lat, .lat-dark {
  background-color: #547487;
  height: 3px;
  width: 30px;
  border-radius: 100px;
  margin-right: 3px;
}
.lat-dark {
  background-color: #ADD8E6;
}

@media only screen and (max-width: 1236px) {
  .right-arrow-icon,
  .left-arrow-icon,
  .four-lines{
    display: none;
  }

  .lines {
    display: none;
  }

  .button {
    text-align: center;
  }
  .button a {
    padding: 20px 135px;
  }

}
@media only screen and (max-width: 450px) {
  .text-btn {
    display: none;
  }
  .banner-container {
    display: none;
  }
  .input {
    height: 142px;
  }
  .input-type {
    text-align: center;
  }
  .input-type button {
    margin: 10px auto;
  }
  .input-type input {
    margin-left: 0;
  }
  .input-type h1 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 785px) {
  .small-content {
    width: 80%;
  }
  .events-container {
    width: 85%;
  }
  .events-container * {
    font-size: 14px;
  }
  .race-info-container {
    width: 85%;
  }
  .first-row {
    display: flex;
    flex-direction: column;
    height: 510px;
    align-items: center;
  }
  .card-1 {
    margin: 20px;
    width: 80%;
  }
  .card-2 {
    margin: 15px;
    width: 80%;
  }
  .lines {
    display: none;
  }
  .second-row {
    height: 900px;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
  }
  .race-btn {
    margin-top: 30px;
  }
  .third-row {
    height: 790px;
  }
  .article-and-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
  }
  .article-container {
    width: 85%;
  }
  .input-containers {
    width: 85%;
  }
  .button {
    text-align: center;
  }
  .button a {
    padding: 20px 102px;
  }
  .input-type {
    text-align: center;
  }
  .input-type button {
    margin: 10px auto;
  }
  .input-type input {
    margin-left: 0;
  }
  .input-type h1 {
    margin-left: 0;
  }
  .final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .left-content-container {
    width: 87%;
  }
  .right-content-container {
    width: 87%;
  }
  .last-row {
    height: 580px;
  }

}

@media only screen and (max-width: 856px) {
  .nav-container {
    display: none;
  }
  .button {
    text-align: center;
  }
  .button a {
    padding: 20px 80px;
  }

  .toggle-bar,
  .my-mobile-menu {
    display: block;
  }
}
